* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: grey
}

.modal-content {
    padding: 2%;
}

.chat-heading {
    padding: 2%;
    text-align: center;
    background: lightgrey;
}

#send_message,
.form-group {
    margin: 2%;
}

.heading1 {
    background: grey;
}

.heading2 {
    background: yellow;
}

.channels {
    height: auto;
    padding-top: 2%;
    background: #f7633b;
}

.channels ul {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 500px;
}

.channels h1 {
    margin: 5% 2%;
}

.channels li {
    padding: 3%;
    cursor: pointer;
    list-style-type: none;
}

#data {
    max-height: 700px;
    overflow: hidden;
    overflow-y: scroll;
    height: auto;
    background: white;
    display: none;
}